html {
    background-image: url('foodtracker.jpg');
    background-repeat: round;

}
#tableResults {
    line-height: 30px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: justify;
    width: 100%;
    align-self: center;
    border: solid black 5px;
}
#tableResults td{
    width: 200px;
    text-align: center;
}
#formm {
    line-height: 25px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: justify;
    width: 100%;
    align-self: center;
    border: solid black 5px;
}
th {
    width: 200px;
    text-align: center;
}
